<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>华南农业大学新生咨询网</title>
    <link href="public/stylesheets/index/nav.css" rel="stylesheet" type="text/css">
    <link href="public/stylesheets/index/top.css" rel="stylesheet" type="text/css">
    <link href="public/stylesheets/index/slide.css" rel="stylesheet" type="text/css">
    <link href="public/stylesheets/index/news.css" rel="stylesheet" type="text/css">
    <link href="public/stylesheets/index/copyright.css" rel="stylesheet" type="text/css">
    <link href="public/stylesheets/index/mybutton.css" rel="stylesheet" type="text/css">
</head>
<div class="top">
    <ul class="top_content">
        <li><a href="register.html">注册</a></li>
        <li><a href="register.html">登录</a></li>
    </ul>
    <li class="welcome"><a>欢迎您，请先</a></li>
</div>
<!--标题栏和功能栏-->
<div class="wrap">
    <div class="logo">
        <div class="logo_left">
            <img src="images/title.jpg" width="200px" height="50px">
        </div>
        <div class="logo_right">
            新生咨询网
        </div>
    </div>
     <!--功能栏-->
    <div class="wrap_mid">
        <div class="wrap_left">
            <ul>
                <li><a href="person.html">新生须知</a>
                    <ul>
                        <li><a href="person.html">健康资讯</a></li>
                        <li><a href="#">最新公告</a></li>
                        <li><a href="#">注册流程</a></li>
                        <li><a href="#">信息查询</a></li>
                        <li><a href="#">收费标准查询</a></li>
                    </ul>
                </li>
                <li><a href="person.html">学校资料</a>
                    <ul>
                        <li><a href="person.html">学校介绍</a></li>
                        <li><a href="person.html">学院介绍</a></li>
                        <li><a href="person.html">专业介绍</a></li>
                        <li><a href="person.html">校区介绍</a></li>
                    </ul>
                </li>
                <li><a href="#">资料下载</a>
                    <ul>
                        <li><a href="#">新生指南</a></li>
                        <li><a href="#">收费标准</a></li>
                        <li><a href="#">新生指南</a></li>
                        <li><a href="#">新生须知资料</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="wrap_right">
            <form action="" method="post">
                <input type="text" class="search_text" />
                <button>搜索</button>
            </form>
        </div>
    </div>
</div>
<div style="clear:both">
</div>

<!--图片展示-->
<div class="slider">
    <div class="slide-viewer">
        <div class="slide-group">
            <div class="slide slide-1"><img src="images/1.jpg" width="1000px" height="400px"><!--幻灯片1--></div>
            <div class="slide slide-2"><img src="images/2.jpg" width="1000px" height="400px"><!--幻灯片2--></div>
            <div class="slide slide-3"><img src="images/3.jpg" width="1000px" height="400px"><!--幻灯片3--></div>
            <div class="slide slide-4"><img src="images/4.jpg" width="1000px" height="400px"><!--幻灯片4--></div>
        </div>
    </div>
    <div class="slide-buttons"></div>
</div>

<!--新闻-->
<div class="main">
    <div class="news">
         <div class="title">
             <h2 class="title_left">公告发布</h2><span class="title_right"><a href="#">More&gt;&gt;</a></span></h2>
         </div>
        <div class="pic_news">
            <img src="images/fruit.jpg" width="70px" height="70px"/><h2><a href="#">你知道报到流程了吗！</a></h2>
            <p>时间：2016.7.3<br/>内容：随着开学时间的接近....<br/><a href="#">learn more&gt;&gt;</a></p>
        </div>
        <div class="new_list">
            <li><a href="#">教务处通知</a><span class="date">2016-04-01</span></li>
            <li><a href="#">关于新生领取校园卡</a><span class="date">2016-04-01</span></li>
            <li><a href="#">关于新生办理医保的相关通知</a><span class="date">2016-04-01</span></li>
            <li><a href="#">关于新生宿舍的分配问题</a><span class="date">2016-04-01</span></li>
        </div>
    </div>
    <div class="activity">
        <div class="title">
            <h2 class="title_left">相关查询入口</h2><span class="title_right"><a href="#">More&gt;&gt;</a></span>
        </div><!--title结束-->
        <div class="pic_news">
            <img src="images/medition.jpg" width="70px" height="70px"/><h2>录取查询<a href="#"></a></h2>
            <p>时间：2016.7.3<br/>内容：在经过了一系列的统计后...<br/><a href="#">learn more&gt;&gt;</a></p>
        </div>
        <div class="new_list">
            <li><a href="#">相关专业查询</a><span class="date">2016-04-01</span></li>
            <li><a href="#">专业收费查询</a><span class="date">2016-04-01</span></li>
            <li><a href="#">新生宿舍查询</a><span class="date">2016-04-01</span></li>
            <li><a href="#">学院查询</a><span class="date">2016-04-01</span></li>
        </div>
    </div>
    <div class="sidebar">
        <div class="title">
            <h2 class="title_left">资料下载</h2><span class="title_right"><a href="#">More&gt;&gt;</a></span>
        </div>
        <div class="new_list">
            <li><a href="#">学院资料</a></li>
            <li><a href="#">相关专业必读书籍</a></li>
            <li><a href="#">图书馆书籍查询</a></li>
            <li><a href="#">关于新生奖助贷的相关问题说明</a></li>
            <li><a href="#">新生必备指南</a></li>
            <li><a href="#">新生须知资料</a></li>
            <li><a href="#">收费标准</a></li>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="copyright_content">
        <ul>
            <li>友情链接
                <ul>
                    <li><a href="#">华南农业大学</a></li>
                    <li><a href="#">华南农业大学教务处</a></li>
                </ul></li>
            <li>关于我们
                <ul>
                    <li><a href="#">平台简介</a></li>
                    <li><a href="#">加入我们</a></li>
                </ul></li>
            <li>宣传方式
                <ul>
                    <li><a href="#">新浪微博</a></li>
                    <li><a href="#">微信公众号</a></li>
                </ul></li>
            <li>关注
                <ul>
                    <li><a href="#">意见反馈</a></li>
                    <li><a href="#">邮箱联络</a></li>
                </ul></li>
            <li>微信关注
                <ul>
                    <li><img src="images/qrcode.png" width="70px" height="70px"></li>
                </ul></li>
        </ul>
    </div>
</div>

<script src="js/jquery-1.9.1.js"></script>
<script src="js/slide.js"></script>
</body>
</html>