<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="/public/stylesheets/index.css" rel="stylesheet" type="text/css"/>
		<link href="/public/stylesheets/bootstrap.css" rel="stylesheet" type="text/css"/>
		<link href="/public/stylesheets/bootstrap.css" rel="stylesheet" type="text/css"/>
		<link href="/public/stylesheets/font-awesome.css" rel="stylesheet" type="text/css"/>
		<title>signup</title>
		<style>
			.signup{
				position:relative;
				left:500px;
				top:160px;
			}
			label{
				width:50px;
				margin:20px 0 0 60px;
			}
			.but{
				
				margin:20px 0 0 150px;
			}
			
		</style>
	</head>
	<body>
		<div class="signup">
			<h3>华南农业大学迎新管理系统注册界面</h3>
			<form method='POST' action='signupTest'>
				<label>账号：</label>
				<input type='text' name='username'><br>
				<label>密码：</label>
				<input type='password' name='password'><br>
				<label>邮箱：</label>
				<input type='email' name='email'><br>
				<input type='submit' value='注册' class="but btn btn-default">
			</form>
		</div>
		
		
	<script src="/public/javascripts/jquery-1.9.1.js"></script>
    <script src="/public/javascripts/bootstrap.js"></script>
    <script src="/public/javascripts/angular.js"></script>
	</body>
</html>